@media (min-width: 850px) {
  .navbar-container input[type="checkbox"] {
    display: none;    
  }

  .hamburger-lines {
    display: none;
  }
  
  #menu  {
    display: flex;
    justify-content: right;
    z-index: 1005;
    position: relative;
  }

  .menu-item1 {
    color: white;
    margin: 30px;
    text-decoration: none;
    font-size: 24px;
  }

  .menu-item2 {
    color: white;
    margin: 30px;
    text-decoration: none;
    font-size: 24px;
  }

  .menu-item3 {
    color: white;
    margin: 30px;
    text-decoration: none;
    font-size: 24px;
  }

  .menu-item4 {
    color: white;
    margin: 30px;
    text-decoration: none;
    font-size: 24px;
  }
}


/* Nav - ipad size*/
@media (max-width: 850px) {

  /*nav-hamborgara línur*/
  .navbar-container input[type="checkbox"] {
    display: none;
    z-index: 1000;
  }

  #menu {
    position: fixed;
    top: 10vh;
    left: 100%;
    width: 100vw;
    min-height: 100vh;
    display: block;
    flex-direction: column;
    background-color: none;
    padding-top: 120px;
    transition: 0.4s;
  }

  /*nav-hamborgara línur*/
  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
    z-index: 1000;
  }

  /*nav-Staðsetning á glugganum sjálfum*/
  .navbar-container input[type="checkbox"] {
    position: fixed;
    display: block;
    height: 40px;
    width: 40px;
    top: 22px;
    right: 28px;
    z-index: 1001;
    opacity: 0;
  }

  /*glugginn opnast og lokast*/
  /*hvað gerir tilda merkið? hvað gerir :checked? segja afh .hamburgerlines .line1*/
  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
      
  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
      
  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  /* nav-hamburger lines change from 3 lines to a x */
  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: fixed;
    right: 0px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    margin-right: 30px;
  }

  /* nav-hamburger lines styled*/
  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: white;
  }

  #menu.is-active {
    left: 0;
  }

  #menu .menu-item1, .menu-item2, .menu-item3, .menu-item4 {
    /*display: block;*/
    width: 100%;
    max-width: 500px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: rgba(54, 54, 54, 1);
    color: rgba(217, 217, 217, 1);
    text-decoration: none;
    border: none;
    font-size: large;
  }

  #menu .menu-item1:hover, .menu-item2:hover, .menu-item3:hover, .menu-item4:hover {
    background-color: black;
  }

  .menu-list {
    animation: mymove 2s forwards;
  }

  @keyframes mymove {
    from {
      left: 100%;
    }
    to {
      left: 0%;
    }
  }
}

.logoimg {
  width: 120%;
  height: auto;
}
