a.active,a:hover{
    background: orange;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

h4{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 70px;
    color: white;
    font-size: 20px;
}

.form-sign-in {
    width: 300px;
    margin-top: 50px;
    padding-top: 20px;
    box-shadow: #363636;
    padding-right: 65px;
    border: none;
    padding: 50px;
    box-shadow: 1px 1px 5px 5px #555555;
    border-radius: 25px;
    margin: auto;
    background-color: #363636;
}

.form-sign-in label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
    color: white;
}

.form-sign-in input{
    background-color: #a3a2a2;
    width: 100%;
    border: none;
    border-radius: 5px;
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.error {
    font-size: 14.5px;
    margin-top: 5px;
    color: red;
}

#testing {
    text-align: left;
    padding-top: 40px;
    font-size: 15px;
    color: white;
}

#testingTwo {
    text-align: center;
    font-size: 15px;
    padding-bottom: 20px;
    color: white;
}

#signUp {
    color: #BE9CF7;
}

label {
    display: block;
    margin-bottom: 5px;
}

.form-sign-in div i {
    position: absolute;
    padding: 10px;
}

/* Þetta var að overridea cards*/
/*h1{
    text-align: center;
    padding-top: 70px;
    color: white;
    font-size: 40px;
}*/