* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'poppins', sans-serif;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    background-color: rgba(32, 32, 32, 1);
    color: white;
}

/* Splash screen */
.intro {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, purple,  orange);
    transition: 1s;
}

.logo-header {
    position: absolute;
    top: 50%;
    left: 38%;
    transform: translate(-50%, -50%);
    font-size: 60px;
}

.logo {
    position: absolute;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    color: black;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}
/* Splash screen end */

.icon-link {
    text-decoration: none;
    color: white;
    margin-right: 1rem;
}

#now {
    margin-top: 20px;
    margin-bottom: 70px;
    text-align: center;
    font-size: 20px;
    color: rgb(180, 155, 155);
}

#happytext{
    margin-top: 60px;
    margin-bottom: 10px;
    padding-top: 100px;
    text-align: center;
    font-size: 50px;
}

#main-logo {
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 2500px;
    width: 60px;
    background-image: linear-gradient(to top, purple,  orange);
    position: fixed;  
    z-index: 990;
}

/*hamburger og annað*/
#special-deals, #favourites, #contact-us, #sign-in, #bars, #restaurants{
    display: none;
}

#about, #contact, #bars, #restaurants, #sign-up, #sign-in, .form-contact{
    display: none;
}

#clock {
    color: #b042ff;
    font-weight: bold;
}

#bars-page, #restaurants-page, #special-deals-page {
    margin: 40px 0 20px 60px;
}

.section {
    padding-left: 40px;
    padding-top: 100px;
}

.images {
    width: 320px; 
    height: 112px; 
    object-fit: cover;
    margin-bottom: -4px;
    border-radius: 8px 8px 0px 0px; 
}

#info {
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 0px 0px 8px 8px; 
}

#info h1, p{
    margin-bottom: 5px;
}

#left, #middle, #right, #last {
    padding-left: 20px;
    width: 320px;
}

#home {
    color: black; 
    display: flex;
    flex-direction: row; 
    flex-flow: row wrap;  
}

#bars-container {
    color: black; 
    display: flex;
    flex-direction: row; 
    flex-flow: row wrap;  
}

#restaurants-container {
    color: black; 
    display: flex;
    flex-direction: row; 
    flex-flow: row wrap; 
}

/* The hearts, start */
.w3-display-container {
    position: relative;
    display: inline-block; /* <= shrinks container to image size */
    transition: transform 150ms ease-in-out;
}

.w3-display-container img { /* for responsiveness */
    display: block;
    max-width: 100%;
    height: auto;
}

.w3-display-container svg {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
}

/* STYLES FOR CARDS */
/*Images inside cards*/
.w3-display-container .images{
    width: 320px; 
    height: 200px; 
    object-fit: cover;
    margin-bottom: -4px;
    border-radius: 8px 8px 0px 0px; 
}

/*Text inside cards - Name of place*/
.w3-display-container h1 {
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 20px;
    letter-spacing: 6%;
}

/* P inside of cards - address of place */
.w3-display-container p {
    font-size: 16px;
    letter-spacing: 4%;
    margin-bottom: 20px;
}

/*One is what's inside of the cards; Text*/
.one {
    padding-bottom: 20px;
    width: 320px;
    color: white;
}

/*Inside of cards*/
.w3-display-container {
    padding: 0px 0px 10px 0px;
    border-radius: 8px 8px 8px 8px; 
    background-color: #363636;
    margin: 10px;
}

.w3-display-container h1, p {
    margin-left: 12px;
}

/*card*/
.home {
    color: black; 
    display: flex;
    flex-direction: row; 
    flex-flow: row wrap; 
    margin-left: 15px;
    justify-content: center;   
}

/*card*/
#bars-container {   
    color: black; 
    display: flex;
    flex-direction: row; 
    flex-flow: row wrap;  
}

/*card*/
#restaurants-container {
    color: black; 
    display: flex;
    flex-direction: row; 
    flex-flow: row wrap; 
}

/*card*/
#favourites {
    color: black; 
    display: flex;
    flex-direction: row; 
    flex-flow: row wrap;  
}

/*  WEEKDAYS  */
/*Div yfir alla stafina*/
.week {
    display: flex;
    flex-direction: row;
}

/* Div fyrir hvern og einn staf fyrir sig */
.happyday {
    background-color: #BE9CF7;
    color: rgb(0, 0, 0);
    margin: 2px;
    margin-top: 4px;
    margin-bottom: 8px;
    border-radius: 7px;
    padding: 3px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 16px;
    width: 20px;
    text-align: center;
    line-height: 23px;
    vertical-align: middle;
    font-weight: 600;
}

.weekdays {
    background-color:#927abc;
}

/*Clock inside cards*/
.clock {
    color: #F79DF7;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 13px;
    margin-left: 3px;
}

h2 {
    font-size: 2rem;
    padding-bottom: 28px;
    color: white;
}

.placetypebutton {
    margin-top: 40px;
    margin-bottom: 40px;
}

/*Buttons on homepage*/
.my-button1, .my-button2 {
    display: inline-block;
    background: #FFA1FF; /* background color */
    color: black; /* text color */
    font-size: 14px;
    padding: 8px 16px; /* space around text */
    margin-right: 30px; 
    font-weight: bold;
    text-align: center;
    line-height: 33px;
    vertical-align: middle;
    margin-left: 27px; 
    text-decoration: none;
}

.my-button1 {
    border-radius: 8px 0 0 8px;
    margin-right: 1px;
    width: 69px;
}

.my-button2 {
    border-radius: 0 8px 8px 0;
    margin-left: 1px;
    width: 131px;
}

.my-button1:hover, .my-button2:hover {
    background: #927abc;
    color: black;
}

.w3-display-container {
    position: relative;
    display: inline-block; /* <= shrinks container to image size */
    transition: transform 150ms ease-in-out;
}
  
.w3-display-container img { /* for responsiveness */
    display: block;
    max-width: 100%;
    height: auto;
}
  
.w3-display-container svg {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
}
  