* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'poppins', sans-serif;
    /*
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/bar.png");
    */
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    background-color: black;
    color: white;
}

/* Splash screen */
.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, purple,  orange);
    transition: 1s;
}

.logo-header {
    position: absolute;
    top: 50%;
    left: 38%;
    transform: translate(-50%, -50%);
    font-size: 60px;
}

.logo {
    position: absolute;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    color: black;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}
/* Splash screen end */


.emphasis {
    color: #b042ff;
}

.icon-link {
    text-decoration: none;
    color: white;
    margin-right: 1rem;
}

#when {
    color: white;
    padding-bottom: 10px;
    margin-left: 265px;
}

#now {
    margin-top: -20px;
    text-align: center;
    font-size: 20px;
    color: rgb(180, 155, 155);
}

#happy{
    padding-top: 100px;
    text-align: center;
    font-size: 50px;
}

#main-logo {
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 2500px;
    width: 60px;
    background-image: linear-gradient(to top, purple,  orange);
    background-position: left right;
    position: fixed;  
}

/*hamburger*/
#menu-button {
    color: black;
    font-size: large;
    position: fixed;
    right: 50px;
    top: 32px;
}
   

/*hamburger*/
#menu {
    position: fixed;
    top: 30vh;
    width: 100vw;
    flex-direction: column;
    display: none;
}

/*hamburger*/
.menu-item {
    margin-bottom: 2rem;
    font-size: 3rem;
}

/*hamburger og annað*/
#special-deals, #favourites, #contact-us, #sign-in, #bars, #restaurants{
    display: none;
}

/*hamburger og annað*/
a:hover, .menu-item:hover, #menu-button:hover, #when:hover, #bars-restaurants:hover{
    opacity: 0.5;
}



#place1, #place2 {
    margin: 40px 0 20px 60px;
}

.section {
    padding-left: 40px;
    padding-top: 100px;
}

.images {
    width: 320px; 
    height: 112px; 
    object-fit: cover;
    margin-bottom: -4px;
    border-radius: 8px 8px 0px 0px; 
}



#info h3, p{
    margin-bottom: 5px;

}
/* H3 inside cards - name of place */
#info h3 {
font-size: 20px;

}
/* P inside of cards - address of place */
#info p {
    font-size: 16px;
}


#left, #middle, #right, #last {
    padding-left: 20px;
    width: 320px;
}

/*One is what's inside of the cards; Text*/
.one {
    padding-bottom: 20px;
    width: 320px;
    margin-right: 15px;
    color: white;
}

/*Inside of cards*/
#info {
    padding: 10px 10px 10px 10px;
    border-radius: 0px 0px 8px 8px; 
    background-color: #363636;
}

/*card*/
.home {
    color: black; 
    display: flex;
    flex-direction: row; 
    flex-flow: row wrap; 
}

/*card*/
#bars-container {   
    color: black; 
    display: flex;
    flex-direction: row; 
    flex-flow: row wrap;  
}

/*card*/
#restaurants-container {
    color: black; 
    display: flex;
    flex-direction: row; 
    flex-flow: row wrap; 
}

/*card*/
#favourites {
    color: black; 
    display: flex;
    flex-direction: row; 
    flex-flow: row wrap;  
}
/*Clock inside cards*/
.clock {
    color: #F79DF7;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 13px;
}


/*  Stafirnir fyrir vikuna á hverju cardi  */
/*Div yfir alla stafina*/
.week {
    display: flex;
    flex-direction: row;
}
/* Div fyrir hvern og einn staf fyrir sig */
.happyday {
    background-color: #BE9CF7;
    color: rgb(0, 0, 0);
    margin: 2px;
    margin-top: 4px;
    margin-bottom: 10px;
    border-radius: 7px;
    padding: 3px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 16px;
    width: 20px;
    text-align: center;
    line-height: 23px;
    vertical-align: middle;
    font-weight: 600;
    
}

.weekdays {
    background-color:#927abc;
}



h2 {
    font-size: 2rem;
    padding-bottom: 28px;
    color: white;
}

#author-image {
    height: 8rem;
    border-radius: 50%;
    float: left;
}

#about p {
    display: inline-block;
    font-size: 1.2rem;
    width: 60%;
    padding: 1rem;
    padding-top: 0px;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.04);
    margin-left: 0.5rem;
    color: #e1affd;
}

#contact-us p {
    font-size: 2rem;
}

.placetypebutton {
    margin-top: 40px;
    margin-bottom: 40px;
}

a {
    text-decoration: none;
    color: #b042ff;
}
/*Buttons on homepage*/
.my-button1, .my-button2 {
    display: inline-block;
    background: #FFA1FF; /* background color */
    color: black; /* text color */
    font-size: 14px;
    padding: 8px 16px; /* space around text */
    margin-right: 30px; 
    font-weight: bold;
    text-align: center;
    line-height: 33px;
    vertical-align: middle;
}

.my-button1{
    border-radius: 8px 0 0 8px;
    margin-right: 1px;
    width: 69px;
}

.my-button2 {
    border-radius: 0 8px 8px 0;
    margin-left: 1px;
    width: 131px;
}

.my-button1:hover, .my-button2:hover {
    background: #927abc;
    color: black;
}



.w3-display-container {
    position: relative;
    display: inline-block; /* <= shrinks container to image size */
    transition: transform 150ms ease-in-out;
  }
  
  .w3-display-container img { /* for responsiveness */
     display: block;
     max-width: 100%;
     height: auto;
  }
  
  .w3-display-container svg {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
  }
  
  